<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="~/Content/BballStats.css" />
</head>
<body>
	<div id="applicationHost"></div>

	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/require.js" data-main="../BballStats/main"></script>
</body>
</html>