@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Castlevania</title>
	<script src="~/Scripts/phaser.js"></script>
	<script src="~/Scripts/castlevania/Boot.js"></script>
	<script src="~/Scripts/castlevania/Preloader.js"></script>
	<script src="~/Scripts/castlevania/MainMenu.js"></script>
	<script src="~/Scripts/castlevania/Level1.js"></script>
	<script src="~/Scripts/castlevania/Player.js"></script>
	<script src="~/Scripts/castlevania/Game.js"></script>
</head>
<body>
	<div id="content"></div>
</body>
</html>
