<!DOCTYPE html>
<html>
<head>
	<title>Hi</title>
	<link rel="stylesheet" href="~/Content/durandal.css" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
	<style>
		.heading {
			border-bottom: 1px solid gray;
			margin-bottom: 7px;
		}

		.number {
			text-align: right;
		}
	</style>
</head>
<body>
	<div id="applicationHost"></div>
	<script src="~/Scripts/require.js" data-main="App/main"></script>
</body>
</html>