@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Golf</title>
	<script src="~/Scripts/phaser.js"></script>
	<script src="~/Scripts/golf/Boot.js"></script>
	<script src="~/Scripts/golf/Preloader.js"></script>
	<script src="~/Scripts/golf/MainMenu.js"></script>
	<script src="~/Scripts/golf/Level1.js"></script>
	<script src="~/Scripts/golf/Game.js"></script>
</head>
<body>
	<div id="content"></div>
</body>
</html>
