<h2>List of things in the play ground</h2>
<a href="~/knockout">Bi-Weekly Budget - Knockout, Moment, LoDash Version; Written in JavaScript</a>
<br />
<a href="~/durandal">Bi-Weekly Budget - Durandal 2 (Knockout, Require), LoDash, and Moment; tests with Jasmine; Written in TypeScript</a>
<br />
<a href="~/CastleVania">Castlevania Demo - Phaser; Written in Typescript</a>
<br />
<a href="~/Golf">Golf - Phaser; Written in Typescript</a>
<br />
<a href="~/BasketballStats">Basketball Stats - Durandal 2 (Knockout, Require), LoDash, and Moment; Written in TypeScript</a>
<br />
<a href="~/Water">Water Consumption Monitor - Vue; Written in TypeScript</a>